{
  "download-dir": "{{ media_transmission_download_dir }}",
  "incomplete-dir-enabled": false,
  "rpc-enabled": true,
  "rpc-authentication-required": true,
  "rpc-username": "{{ media_transmission_rpc_username }}",
  "rpc-password": "{{ media_transmission_rpc_password }}",
  "rpc-port": 9091,
  "umask": 2,
  "peer-port": 51413,
  "dht-enabled": true,
  "encryption": 1,
  "peer-limit-global": 200,
  "peer-limit-per-torrent": 50,
  "speed-limit-down": 0,
  "speed-limit-up": 0,
  "speed-limit-down-enabled": false,
  "speed-limit-up-enabled": false,
  "rpc-whitelist-enabled": false,
  "rpc-bind-address": "0.0.0.0"
}
