[Unit]
Description="Transmission Telegram Daemon"
After=transmission-daemon.service

[Service]
ExecStartPre=/bin/sleep 20
ExecStart=/usr/local/bin/transmission-telegram -token=<token here> -master=<username> -username=transmission -password=transmission -logfile=/var/log/transmission-telegram.log -transmission-logfile=/var/log/transmission.log
Type=simple

[Install]
WantedBy=multi-user.target
